header
{
    width: 100%;
    height: @header-h * 1.5;
    position: fixed;
    top: 0; left: 0;
    .translateY(0);
    z-index: 9999;
    background: rgba(255,255,255,.0);
    .transition-normal();

    &.is-collapsed
    {
        .translateY(-50px);
        background: rgba(255, 255, 255, .85);
        .logo
        {
            .translateY(0px);
            svg
            {
                margin-top: -2px;
                height: 40px;
                fill: @red;
            }
        }
        .lettering
        {
            height: 15px;
            left: 45px;
            top: 50%; margin-top: -8px;
            svg
            {
                fill: darkgray;
            }
        }
        .header-container
        {

        }
        .main-nav
        {
            li
            {

                a { color: #808080 }

                &.active
                {
                    .box-shadow(~"inset 0 -5px 0 #F44336");
                    a { color: #000 }
                }
            }
        }

    }
    .header-container
    {
        position: absolute;
        bottom: 0; left: 10%; right: 10%;
        height: @header-h;
        .translateY(0);


    }
    .logo
    {
        // box
        height: @header-h / 1.5;
        // position
        position: absolute;
        left: 0; bottom: 0;
        //top: 50%;
        //margin-top: ( @header-h / 1.5) / 2  * -1;
        .translateY(0);
        svg
        {
            height: @header-h / 1.5;
            fill: white;
        }
    }
    .lettering
    {
        // box
        height: 18px;
        // position
        position: absolute;
        top: 50%;
        left: 70px;
        svg
        {
            height: 100%;
            fill: white;
        }
    }
    .main-nav
    {
        // position
        position: absolute;
        right: 0; bottom :0;
        // style


        > ul
        {
            // box
            padding: 0; margin: 0;
            // style
            list-style: none;
            > li
            {
                // box
                display: inline-block;
                padding: 15px 15px;
                margin-right: 15px;
                .transition-normal();
                &.active
                {
                    .box-shadow(~"inset 0 -3px 0 white");
                    a
                    {
                        color: white;

                    }
                }
            }
            a
            {
                // box
                display: block;
                // type
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
                color: white;
                font-size: 13px;
                font-family: @font-headings;
                color: #ccc;
                &:hover
                {
                    color: white;
                }
            }

        }
    }
}
