section
{
    position: relative;
    overflow: hidden;
    .left-content,
    .right-content
    {
        // box

        // position
        position: absolute;



    }
    .intro
    {
        position: relative;
        z-index: 1;
    }
    .content-wrapper
    {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;

    }
    .section-content,
    .section-bg
    {
        // box
        width: 100%; height: 100%;
        // position
        position: absolute;
        top: 0; left: 0;
        z-index: 1;
    }
    .slide { position: relative }
    .section-bg
    {
        z-index: 0;
        // style

        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &[data-area="landing-page"]
    {
        .section-bg
        {
            background-image: url('../img/bg/landing-bg.jpg');
        }

    }
    &[data-area="about-us"]
    {
        .section-bg
        {
            background-image: url('../img/bg/about-bg.jpg');
            background-size: cover;
        }


        .left-content
        {
            width: 50%;
            top: 0; bottom: 0; left: 0;

            .content
            {

                width: 300px;
                // position
                position: absolute;
                top: 50%;
                left: 50%;
                .translateY(-50%);
                margin-left: -150px;
                z-index: 1;
                // type
                color: white;

                > p
                {
                    // type
                    font-family: @font-default;
                    font-weight: 300;
                    font-size: 16px;
                    text-transform: uppercase;

                }
                .small-logo
                {
                    width: 40px;
                    margin-bottom: 30px;
                    display: inline-block;
                    svg
                    {
                        width: 40px;
                        fill: @red;
                    }
                }
            }
            .context-bg
            {
                height: 100%;
                position: absolute;
                top: 0; right: -1px; bottom: 0; left: 0;
                .opacity(.85);
                svg
                {
                    position: absolute;
                    right: 0; top:50%;
                    .translateY(-50%);
                    width: 200%;
                    fill: @gray-dark;

                }
            }
        }
        .right-content
        {
            top: 0; bottom: 0; right: 0;

            width:50%;
            .content
            {
                width: 50%;
                // position
                position: absolute;
                top: 50%;
                left: 50%;
                .translateY(-50%);
                margin-left: -25%;
                z-index: 1;
                // type
                color: white;

                > p
                {
                    display: inline-block;
                    margin-bottom: 15px;
                    // type
                    font-family: @font-default;
                    font-weight: 400;
                    font-size: 16px;

                    color: #555;

                }
            }
            .context-bg
            {
                height: 100%;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                .opacity(.9);
                svg
                {
                    position: absolute;
                    left: -1px; top:50%;
                    .translateY(-50%);
                    width: 200%;
                    fill: @gray-lighter;

                }
            }
        }

    }
    &[data-area="services"]
    {
        .slide
        {
            background: @gray-darker;
        }
        #slide1
        {

            .slide + .slide
            {
                z-index: 2;
            }

            .left-content
            {
                width: 60%;
                top: 0; bottom: 0; left: 0;
                padding-left: 15%;
                .content
                {
                    width: 100%;
                    position: absolute;
                    top: 50%; .translateY(-50%);

                    padding: 50px;
                    h2
                    {
                        margin-bottom: 30px;

                    }
                    p
                    {
                        width: 60%;
                        // type
                        font-size: 40px;
                        font-family: @font-default;
                        font-weight: 300;
                        span
                        {
                            padding: 5px 10px;
                            background: @red;
                            color: white;
                            font-weight: 600;
                            .border-radius(3px);
                        }
                    }
                }
                .context-bg
                {
                    display: none;
                    height: 100%;
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0;
                    z-index: 0 !important;
                    .opacity(.85);
                    svg
                    {
                        position: absolute;
                        right: 0; top:50%;
                        .translateY(-50%);
                        width: 100%;
                        fill: #444;

                    }
                }
            }
            .right-content
            {
                top: 0; bottom: 0; right: 0;
                width: 40%;
                height: 100%;

                .content
                {

                }
                .context-bg
                {
                    height: 100%;
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0;
                    .opacity(.85);
                    svg
                    {
                        position: absolute;
                        left: 0; top:50%;
                        .translateY(-50%);
                        width: 200%;
                        fill: @red;

                    }
                }
            }

            .section-bg
            {
                background-image: url('../img/bg/services-bg.jpg');
                background-size: cover;
            }
        }
        #slide2
        {
            .section-bg
            {
            }
        }

    }
    &[data-area="team"]
    {
        .left-content
        {

            width: 100%;
            top: 0; bottom: 0; left: 0;
            bottom: 0;

            .content
            {
                width: 100%;
                height: 100%;
                padding: 15%;
                position: absolute;

                z-index: 1;
                h2
                {
                color: white;
                }
            }
            .context-bg
            {
                position: absolute;
                z-index: 0;
                top: 0; right: 0; bottom: 0; left: 0;
                svg
                {
                    width: 200%;
                    position: absolute;
                    right: -10%; top :-15%;
                    fill: @red;
                    .opacity(.85);

                }
            }
        }
        .right-content
        {
            top: 0; bottom: 0; right: 0;
            width: 30%;
            height: 100%;
            display: none;

            .content
            {

            }
            .context-bg
            {
                display: none;
                height: 100%;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                .opacity(.85);
                svg
                {
                    position: absolute;
                    left: 0; top:50%;
                    .translateY(-50%);
                    width: 200%;
                    fill: @red;

                }
            }
        }
        .section-bg
        {
            background-image: url('../img/bg/team-bg.jpg');
            background-size: cover;
        }
    }

}

.center-wrapper
{
    width: 100%;
    padding: 30px;
    // position
    position: relative;
    top: 50%;
    .translateY(-50%);
    // type
    text-align: center;
    .small-logo
    {
        // box
        width: 100px; height: 100px;
        position: absolute;
        top: -100px; left: 50%;
        margin: 0px 0 0 -50px;

        svg
        {
            width: 100px; height: 100px;
            fill: white;
        }
    }

}
#contacts-map {
    width: 100%; height: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: 0;
}


.this-banner
{
    // box
    width: 600px;

    // position
    position: absolute;
    top: 50%; left: 50%;
    margin-left: -300px;
    .translateY(-50%);
    img
    {
        width: 100%;
    }
}

.contact-card
{
    // box
    width: 350px;
    height: 550px;
    // position
    position: absolute;
    right: 15%;
    top: 50%; margin-top: -275px;
    z-index: 2;
    // Style
    background: white;
    .box-shadow(~"0px 2px 4px rgba(0,0,0,.12), 0px 8px 16px rgba(0,0,0,.24)");

    .header
    {
        // box
        width: 100%;
        height: 300px;
        padding: 30px;
        // position
        position: relative;
        // style
        background: @red;

        .logo-solo
        {
            // box
            width: 50px; height: 50px;
            // position
            position: absolute;
            left: 50%; margin-left: -25px;
            top: 50%; margin-top: -50px;
            svg
            {
                width: 100%;
                fill: white;
            }
        }
        .logo-lettering
        {
            // box
            width: 100px; height: 50px;
            // position
            position: absolute;
            left: 50%; margin-left: -50px;
            top: 50%; margin-top: 10px;
            svg
            {
                width: 100%;
                fill: white;
            }
        }

        .city-origin
        {
            // box
            width: 100%;
            height: 20px;
            // position
            position: absolute;
            bottom: 50px;
            left: 50%;
            .translateX(-50%);
            // type
            font-family: @font-headings;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            color: rgba(0,0,0,.4);
        }

    }

    .body
    {
        // box
        padding:60px 30px 30px;
        height: 250px; width: 100%;
        // position
        float: left;

        .address
        {
            // box
            width: 100%;
            margin-bottom: 30px;
            padding-left: 40px;
            // position
            position: relative;
            float: left;

            // type
            font-family: @font-default;
            color: @gray;
            

            .ico
            {
                // box
                width: 20px; height: 20px;
                display: block;
                // position
                position: absolute;
                top: 0; left: 0;

                svg
                {
                    width: 20px; height: 20px;
                    position: absolute;
                    top: 50%; left: 50%;
                    margin: -10px 0 0 -10px;
                    fill: @gray-light;
                }
            }

            a
            {
                // box
                display: inline-block;
                margin-left: 15px;
            }
        }
    }
}

.team-members {

    display: block;
    padding: 0;
    margin: 50px 0 0;
    float: left;
    position: relative;
    text-align: center;
    list-style-type: none;
    > li
    {
        max-width: 200px;
        margin: 0 100px 0 0;
        display: block;
        float: left;
        position: relative;
        text-align: center;
        img
        {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
        .position
        {
            width: 100%;
            float: left;
            margin-top: 30px;
            font-family: "Source Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
            text-align: center;
        }
        .name
        {
            width: 100%;
            float: left;
            margin-top: 5px;
            font-size: 20px;
            text-align: center;
            font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: #fff;
            text-transform: uppercase
        }
    }
}

